#include <zephyr/dt-bindings/pinctrl/rpi-pico-rp2040-pinctrl.h>
/* Powermeter GPIO pins are configured directly by the application. */

/* Pico W: reserve final 64 KiB of 2 MiB flash for Settings/NVS. */
&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        storage_partition: partition@1f0000 {
            label = "storage";
            reg = <0x001f0000 0x00010000>;
        };
    };
};

/* GP0/GP1 belong to software I2C; console is USB CDC ACM. */
&uart0 { status = "disabled"; };

&pinctrl {
    battery_adc_default: battery_adc_default {
        group1 { pinmux = <ADC_CH2_P28>; };
    };
};
&adc {
    status = "okay";
    pinctrl-0 = <&battery_adc_default>;
    pinctrl-names = "default";
    vref-mv = <3300>;
};
